<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="icebreaker">
	<div ng-controller="AppCtrl as app">
        <div class="armature">
            <div class="progress-bar" ng-style="app.styles.progressBar">

            </div>
            <div class="navbar" ng-style="app.styles.navbar">
                <a class="icon icon-spinner" ng-click="app.generateTodos()"></a>
            </div>
        </div>
        <div class="completed" ng-if="app.completed">
            <span>You're done! <small>Go tell someone!</small></span>
        </div>
        <ul class="todos">
            <li ng-repeat="todo in app.todos" ng-class="{completed: todo.completed}" selfie="app.captureSelfie(todo, data)">
                <img ng-src="{{ todo.image }}" ng-if="todo.completed" class="thumbnail">
                <i class="icon checkbox icon-checkbox-unchecked" ng-if="!todo.completed"></i>
                <i class="icon checkbox icon-checkbox" ng-if="todo.completed"></i>
                {{ todo.text }}
            </li>
        </ul>
	</div>
	<script src="js/icebreaker.js"></script>
</body>
</html>
